.background-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}
.jobDetails-card {
  background-color: #202020;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
}
.company-logo {
  width: 50px;
}
.logo-title-rating-card {
  display: flex;
  align-items: center;
}
.job-title {
  font-family: 'Roboto';
  color: #ffffff;
}
.rating-card {
  display: flex;
  align-items: center;
}
.star-icon {
  color: #fbbf24;
  font-size: 20px;
  margin-right: 2px;
}
.rating {
  font-family: 'Roboto';
  color: #ffffff;
  margin-left: 0;
}
.location-jobType-salary-card {
  display: flex;
  justify-content: space-between;
}
.location-jobType-card {
  display: flex;
}
.location-card {
  display: flex;
  align-items: center;
}
.location-icon {
  color: #ffffff;
  font-size: 20px;
  margin-right: 5px;
}
.location {
  font-family: 'Roboto';
  color: #ffffff;
  margin-right: 20px;
}
.description-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ExternalLink-card {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.link-icon {
  font-size: 20px;
  margin-right: 10px;
  color: #6366f1;
}
.visit {
  color: #6366f1;
  font-family: 'Roboto';
}
.job-description {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
}
.background-card {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.loader-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lifeAtCompany-card {
  display: flex;
  flex-direction: column;
}
.skills-container {
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.each-skill {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 20px;
}
.skillImage {
  width: 50px;
}
.skillName {
  margin-left: 10px;
}
.company-inside-image {
  margin-left: 20px;
}
.similarJobs-heading {
  color: #ffffff;
  padding-left: 30px;
}
.similar-job-container {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}
.eachJob-card {
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  background-color: #202020;
}
.failureView-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  color: #ffffff;
  font-family: 'Roboto';
}
@media Screen and (min-width: 768px) {
  .lifeAtCompany-card {
    flex-direction: row;
  }
  .similar-job-container {
    flex-direction: row;
  }
  .background-container {
    margin-left: 150px;
    margin-right: 150px;
  }
}
